.recipe-card-container {
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding: 20px;
  margin-top: 100px;
  z-index: 0;
  width: 80%;
  min-height:100px;
  background-color: #d1d666;
  border-radius: 5px;
  &:nth-child(even) {
    background-color: #b6e1f5;
  }
}

.folder-tap-odd {
  position: absolute;
  top: -80px;
  right: 40px;
  fill: #d1d666;
  width: 250px;
  height: 85px;
}

.folder-tap-even {
  position: absolute;
  top: -80px;
  right: 40px;
  fill: #b6e1f5;
  width: 250px;
  height: 85px;
}

.recipe-card-grid {
  padding: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "ingredients image"
    "directions directions";
}

.recipe-card-ingredients {
  grid-area: ingredients;
}

.recipe-card-image {
  box-shadow: -2px 2px 10px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
  background-color: #c7c7c7;
  width: 410px;
  height: 410px;
  img {
    width: 400px;
    height: 400px;
  }
}

.recipe-card-directions {
  grid-area: directions;
}

.labels {
  padding: 5px;
  position: relative;
  left: -50px;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 5% 50%, 0% 0%);
  background-color: #de7165;
  width: 250px;
  h2 {
    margin: 0px;
    color: #ffffff;
  }
}

.ingredient-position {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.ingredient-position-labels {
  text-decoration: underline;
  width: 50%;
  display: flex;
  justify-content: space-between;
}